<ion-content class="padding" hide-nav-bar="true">

    <h2 align="center" style="padding-top: 2em">dituibang</h2>

    <div class="list list-inset login-list">

      <label class="item item-input login-input" style="border-radius:3em;">
        <i class="icon ion-iphone login-ion"></i><input type="text" placeholder="手机号码" >
      </label>

      <label class="item item-input login-input">
        <i class="icon ion-locked login-ion"></i><input type="text" placeholder="输入密码">
      </label>

      <div class="login-btn-div">
        <button class="button button-block button-balanced login-btn" onclick="window.location.href='#/tab/index'">
          login
        </button>
      </div>


      <div class="row">
        <div class="col col-33"><a href="#/tab/forget-password" style="color: #28a54c">忘记密码</a></div>
        <div class="col col-33 col-offset-33"><a href="#/tab/register" style="color: #28a54c">我要注册</a></div>
      </div>

    </div>

  </ion-content>
