<ion-view view-title="task" xmlns="http://www.w3.org/1999/html">

  <ion-header-bar class="bar bar-header item-input-inset " style="background-color: #28a54c">
    <a class="button button-clear icon ion-arrow-left-c" style="color: #fff " href="javascript:history.back()"></a>
    <div style="width:80% " align="center"><span style="color: #fff;font-size: larger;   ">任务详情</span></div>
    <a class="button button-clear icon-right " href="#" style="color: #fff; background-color:#28a54c ">...</a>
  </ion-header-bar>

  <ion-content>
    <div class="list card">
      <div>

        <div class="item item-image">
          <img src="../../img/nuomi.jpg" style="width: 4em ; height: 4em" >
          <h2 style="font-size: larger;padding-top: 0.5em">百度糯米</h2>
          <p style="padding-top: 0.3em ; font-size: smaller" >帮助商家注入平台</p>
          <span style="color: #e6b500; padding-top: 0.2em">酬金：￥45</span>
        </div>

        <div class="item">
          <span style="color: #9d9d9d ; font-size: smaller">2016-05-01结束</span>
          <span class="item-note">剩余239份</span>
          <br/>
          <span style="color: #9d9d9d ; font-size: smaller ; margin-top: 0.2em">限定城市：北京，上海...</span>
          <a class="item-note" style="color: #28a54c ; margin-top: 0.2em ; font-size: small" >全部</a>
        </div>
      </div>

      <div class="item item-body">
        <h2 style="color: #28a54c ; font-weight: bold ; text-align: center" >任务描述</h2>
        <span>
          Ionic's select is styled so its appearance is prettied up relative to the browser's default style. However, when the select elements is opened, the default behavior on how to select one of the options is still managed by the browser.</span></br>

         <span> Each platform's user-interface will be different as the user is selecting an option. For example, on a desktop browser you'll see the traditional drop down interface, whereas Android often has a radio-button list popup, and iOS has a custom scroller covering the bottom half of the window.</span>

        <div class="login-btn-div">
          <button class="button button-block button-balanced login-btn" onclick="window.location.href='#/tab/task-input'">
            继续完成
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
