<ion-view view-title="perfect-info">
  <ion-content class="padding" hide-nav-bar="true">

    <a href="javascript:history.back()"> <i class="icon ion-arrow-left-c"></i></a>

    <h2 align="center" style="padding-top: 1em">完善信息</h2>

    <div class="list list-inset login-list">


      <label class="item item-input login-input" style="border-radius: 3em">
        <i class="icon ion-edit login-ion"></i><input type="file" placeholder="设置昵称">
      </label>


      <label class="item item-input login-input">
        <i class="icon ion-edit login-ion"></i><input type="text" placeholder="设置昵称">
      </label>

      <div class="login-btn-div">
        <button class="button button-block button-balanced login-btn" onclick="window.location.href='#/tab/index'">
          确认
        </button>
      </div>




    </div>

  </ion-content>
</ion-view>
